<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vac_check" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vac_Check">
        <activity
            android:name=".SelfScreeningActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity android:name=".UserType"
            android:exported="false"/>
        <activity android:name=".VisitorRegisterActivity"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".FindVaxCentreActivity"
            android:exported="false" />
        <activity
            android:name=".SubmitInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QrActivity"
            android:exported="true" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/Theme.Vac_Check.NoActionBar" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:label="@string/title_activity_main_menu"
                    android:theme="@style/Theme.Vac_Check.NoActionBar" />
            </intent-filter>
        </activity>
    </application>

</manifest>